.App{
  margin: 2%;
}
p , h1{
  width: 150px
}
.headings {
  display: flex;
  justify-content: flex-start;
  
}

.row {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid black;
}

button {
  padding: 1%;
  margin: 1%;
  border: none;
  background-color: none;
  color: blue
}

span {
  margin-left: 2%;
}
select {
  margin-right: 2%;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
